body {
  margin: 0;
  font-family: Arial;
  background: #121212;
  color: white;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.title {
  text-align: center;
  color: #aaa;
  margin-bottom: 20px;
}

.project {
  background: #1e1e1e;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
}

a {
  color: #4ea1ff;
  text-decoration: none;
}
